{{ if .Params.banner }}
<section class="page-header" style="background-image: url('{{ .Params.banner }}');">
  <div class="hero-overlay"></div>
  <div class="container">
    <h1>{{ .Title }}</h1>
    {{ with .Description }}
    <p class="lead">{{ . }}</p>
    {{ end }}
  </div>
</section>
{{ else }}
<section class="page-header page-header-simple">
  <div class="container">
    <h1>{{ .Title }}</h1>
    {{ with .Description }}
    <p class="lead">{{ . }}</p>
    {{ end }}
  </div>
</section>
{{ end }}
